{% extends "base.html" %}
{% block title %}Add Course{% endblock %}

{% block content %}
<div class="card">
  <h2>Add a course</h2>
  <div class="input-group">
    <label for="course_id">Course ID:</label>
    <input type="text" id="course_id" required>
  </div>
  <div class="input-group">
    <label for="name">Course Name:</label>
    <input type="text" id="name" required>
  </div>
  <div class="input-group">
    <label for="credits">Credits:</label>
    <input type="text" id="credits" required>
  </div>
  <button onclick="addCourse()">Submit</button>
</div>
{% endblock %}
